
* {

    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Inter', sans-serif;
    background-color:#f6f8f9 ;
}

header{
    background-color: white;
}


img{
    vertical-align: middle;
}

.logo h1{
    display: inline;
   
}

main{
  
}

.container_bar {
   
}