
* {

    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Inter', sans-serif;
    background-color:#f6f8f9 ;
}

header{
    background-color: white;
}


img{
    vertical-align: middle;
}

.logo h1{
    display: inline;
   
}

main{
  
}

.container_bar {
   background-color: white;
   margin-top: 100px;
   margin-left: auto;
   margin-right: auto;
   height: 5vh;
   width:90%;
   border-radius: 10px;
   padding-left: 6vh;
   padding-top: 1.5vh;
   
}

.blue_button{
    background-color: #47adf1;
    border-radius: 5px;
    width: 9vh;
    height: 3vh;
    color: white;
    border: none;

}

#add_section{
    background-color: white;
    border-radius: 5px;
    width: 9vh;
    height: 3vh;
    color: grey;
    border-color: gray;
    border-width: thin;

}

.container{
    
        background-color: white;
        margin-top: 10px;
        margin-left: auto;
        margin-right: auto;
        
        height: 10vh;
        width:90%;
        border-radius: 10px;
        padding-left: 6vh;
        padding-top: 1.5vh;
}