
* {

    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Inter', sans-serif;
    background-color:#f6f8f9 ;
    color: #4a4e56;
}

header{
    background-color: white;
}


img{
    height:100%;
    vertical-align: middle;
}

.logo h1{
    display: inline;
    color: black;
    vertical-align: middle;
   
}

main{
  
}

.container_bar {
   background-color: white;
   margin-top: 40px;
   margin-left: auto;
   margin-right: auto;
   height: 5vh;
   width:70%;
   border-radius: 5px;
   padding-left: 6vh;
   padding-top: 1.5vh;
   
}

.container{
    
    background-color: white;
    margin-top: 3px;
    margin-left: auto;
    margin-right: auto;
    
    height: 80vh;
    width:70%;
    border-radius: 5px;
    padding-left: 6vh;
    padding-top: 1.5vh;
}

.add_task{
    background-color: #47adf1;
    border-radius: 5px;
    width: 9vh;
    height: 3vh;
    color: white;
    border: none;
    display: inline;

}

#add_section{
    background-color: white;
    border-radius: 5px;
    width: 9vh;
    height: 3vh;
    color: grey;
    border-color: gray;
    border-width: thin;

}



h2{
    margin-bottom: 5px;
}

p{
    font-size:large;
}

.blue_button{
    background-color: #47adf1;
    border-radius: 15px;
    width: 8vh;
    height: 3vh;
    color: white;
    border: none;
    display: inline;

}
.last_task{
    margin-bottom: 4vh;
}
.regular_task{
    margin-bottom: 2vh;
}

#violet{
    background-color: #9c72e4;
}

#green{
    background-color: #64c0a9;
}

#orange{
    background-color: #f29e33;
}

#pink{
    background-color: #d863a1;
}

#lightgreen{
    background-color: #b0c926;
}

.check {
  display: inline-block;
  line-height: 1rem;
  width: 1rem;
  text-align: center;
  border-radius: 50%;
  font-size: .7rem;
}

.done{
    border: 1px solid #64c0a9;
    color: #64c0a9;
}

.undone{
    border: 1px solid red;
    color: red;
}